{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData/**
Documents/**
.glzr/**
.config/nvim/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.bashrc
.bash_profile
.tmux.conf
{{ end }}
