{{ if .installTools -}}
{{ range .winget_packages }}
    Write-Host "`nInstalling {{ . }}..."
    winget install --id {{ . }} --silent -e --accept-source-agreements --accept-package-agreements
{{ end }}
{{- else -}}
Write-Host "Skip winget tools (installTools = false)"
{{- end }}
