"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

format = """
[┌─](bold fg:color_bg3)\
$directory\
$git_branch\
$git_status\
$git_metrics\
$fill\
$cmd_duration\
$azure\
${custom.azure_cloud}\
$terraform\
$docker_context\
$container\
$golang\
$nodejs\
$python\
$dotnet\
$line_break\
[└](bold fg:color_bg3)$character"""

palette = 'gruvbox_dark'

[palettes.gruvbox_dark]
color_fg0 = '#fbf1c7'
color_bg1 = '#3c3836'
color_bg3 = '#665c54'
color_blue = '#458588'
color_aqua = '#689d6a'
color_green = '#98971a'
color_orange = '#d65d0e'
color_purple = '#b16286'
color_red = '#cc241d'
color_yellow = '#d79921'

[directory]
style = "bold fg:color_purple"
format = "[$path]($style) "
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
symbol = " "
format = '[[$symbol$branch](bold fg:color_yellow)]($style) '
ignore_bare_repo = true

[git_status]
format = '([[$all_status$ahead_behind](fg:color_orange) ]($style))'
conflicted = "≠"
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕"
untracked = "?"
stashed = "$"
modified = "~"
staged = "+"
renamed = "»"
deleted = "✘"

[azure]
symbol = "󰠅 "
style = "fg:color_blue"
format = "[$symbol$subscription]($style) "
disabled = false

{{ if eq .chezmoi.os "windows" -}}
[custom.azure_cloud]
when = 'findstr AzureChinaCloud %USERPROFILE%\.azure\config >nul 2>&1'
command = 'echo CN'
shell = ["cmd.exe", "/V:ON", "/C"]
ignore_timeout = true
format = '[$symbol$output ]($style)'
symbol = "󰠅 "
style = "bold fg:color_red"
{{ else -}}
[custom.azure_cloud]
command = 'grep -q "AzureChinaCloud" ~/.azure/config 2>/dev/null && echo CN'
shell = ["sh", "-c"]
when = "true"
format = '[$symbol$output ]($style)'
symbol = "󰠅 "
style = "bold fg:color_red"
{{ end -}}

[terraform]
symbol = "󱁢 "
format = '[$symbol$workspace]($style) '
style = "fg:color_purple"

[docker_context]
symbol = " "
format = '[$symbol$context]($style) '
style = "fg:color_blue"
only_with_files = true

[dotnet]
symbol = "󰪮 "
format = '[$symbol$version]($style) '
style = "fg:color_purple"

[golang]
symbol = " "
format = '[[$symbol$version](fg:color_fg0)]($style) '

[nodejs]
symbol = " "
format = '[[$symbol$version](fg:color_fg0)]($style) '

[python]
symbol = " "
format = '[[$symbol$version( \(${virtualenv}\))](fg:color_yellow)]($style) '

[git_metrics]
disabled = false
format = '([+$added]($added_style))( [-$deleted]($deleted_style)) '

[cmd_duration]
format = '[$duration](fg:color_aqua) '
min_time = 2000

[container]
format = '[$symbol$name]($style) '

[status]
disabled = false
format = '[$status](fg:color_red) '

[fill]
symbol = " "

[line_break]
disabled = false

[character]
success_symbol = '[\$](bold fg:color_green)'
error_symbol = '[\$](bold fg:color_red)'
vimcmd_symbol = '[](bold fg:color_green)'
vimcmd_replace_one_symbol = '[](bold fg:color_purple)'
vimcmd_replace_symbol = '[](bold fg:color_purple)'
vimcmd_visual_symbol = '[](bold fg:color_yellow)'
